<h1>{{title}}</h1>
{{#if apiName}}
    <div id="results" style="overflow:hidden;">
        {{#if printOnly}}
            <p>API definition {{apiName}} will be created</p>
            {{#if whitelist}}
                {{#if wlMulti}}
                    <p>The following domains will be whitelisted:</p>
                    <ul>
                        {{#each whitelist}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                {{else}}
                    {{#each whitelist}}
                        <p>Domain {{this}} will be whitelisted</p>
                    {{/each}}
                {{/if}}
            {{/if}}
            {{#if endpoints}}
                {{#if epMulti}}
                    <p>The following endpoints will be created:</p>
                    <ul>
                        {{#each endpoints}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                {{else}}
                    {{#each endpoints}}
                        <p>Endpoint {{this}} will be created</p>
                    {{/each}}
                {{/if}}
            {{/if}}
        {{else}}
            <p>Successfully created API definition <a href="{{ccUrl}}/api-definitions/{{apiId}}">{{apiName}}</a></p>
            {{#if whitelist}}
                {{#if wlMulti}}
                    <p>The following domains were whitelisted:</p>
                    <ul>
                        {{#each whitelist}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                {{else}}
                    {{#each whitelist}}
                        <p>Domain {{this}} was whitelisted</p>
                    {{/each}}
                {{/if}}
            {{/if}}
            {{#if endpoints}}
                {{#if epMulti}}
                    <p>The following endpoints were created:</p>
                    <ul>
                        {{#each endpoints}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                {{else}}
                    {{#each endpoints}}
                        <p>Endpoint {{this}} was created</p>
                    {{/each}}
                {{/if}}
            {{/if}}
        {{/if}}
        {{#if error}}
            <div id="error" class="errors">{{error}}</div>
        {{/if}}
        {{#if warn}}
            <div id="warn" class="message">{{warn}}</div>
        {{/if}}
        <input type="button"
               name="back"
               id="back"
               value="Back"
               class="btnRight" onclick="parent.history.back()"/>
    </div>
{{else}}
    <p>{{description}}</p>
    <hr style="width: 100%; margin-top: 1em; margin-bottom: 1em;"/>
    <div id="data_source" style="overflow:hidden;">
        <form class="form" action="swagger2mashery" method="POST" enctype="multipart/form-data">
            <table style="border-top: 0; margin-bottom: 0;">
                <tr>
                    <td nowrap="nowrap" width="1%">
                        <label for="tgt_uuid">Target Area Name:</label>
                    </td>
                    <td nowrap="nowrap" width="100%" colspan="2">
                        <select id="tgt_uuid" name="tgt_uuid" style="width: 100%;">
                            {{#each tgtUuids}}
                                {{#if (eq ../tgtUuid uuid)}}
                                    <option value="{{uuid}}" selected="selected">{{name}}</option>
                                {{else}}
                                    <option value="{{uuid}}">{{name}}</option>
                                {{/if}}
                            {{/each}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" width="1%">
                        <label class="formlabel" style="text-align: right;">Swagger Source:</label>
                    </td>
                    <td nowrap="nowrap" style="padding: 0.7em;" width="1%">
                        <input type="radio" name="source" value="1" checked="checked"/><span>&nbsp;URL</span>
                    </td>
                    <td nowrap="nowrap" style="padding: 0.7em;" width="100%">
                        <input type="radio" name="source" value="2"/><span>&nbsp;File</span>
                    </td>
                </tr>
                <tr>
                    <td colspan=3">
                        <input id="input_url" name="input_url" placeholder="Swagger URL" type="url"
                               style="display: inline; width: 100%;"
                               value="http://petstore.swagger.io/v2/swagger.json"/>
                        <input id="input_file" name="input_file" type="file"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="print_only" name="print_only" type="checkbox" checked/>
                        <label class="formlabel" style="text-align: right;">&nbsp;Preview Only</label>
                    </td>
                    <td nowrap="nowrap" colspan="2">
                        <input id="validate_swagger" name="validate_swagger" type="checkbox"/>
                        <label class="formlabel" style="text-align: right;">&nbsp;Validate Swagger (v2.0 and later only)</label>
                    </td>
                </tr>
            </table>
            {{#if error}}
                <div id="error" class="errors">{{{error}}}</div>
            {{/if}}
            {{#if warn}}
                <div id="warn" class="message">{{warn}}</div>
            {{/if}}
            <input type="submit"
                   name="loadFile"
                   id="loadFile"
                   value="Load File"
                   class="btnRight"
                   style="display: none;"/>
            <input type="submit"
                   name="loadData"
                   id="loadData"
                   value="Load Data"
                   class="btnRight"/>
            <script type="text/javascript">
                <!--
                $('#loadFile').click(function (event) {
                    if (!$('#input_file').val()) {
                        alert("Please select a Swagger file to import");
                        event.preventDefault();
                    } else {
                        centerProc();
                        $('#processing').text("Importing " +
                                $('#input_file').val() + " into " +
                                $('#tgt_uuid option:selected').text());
                        $('#processing').css({'display': 'block'});
                        $('#wsdlform').submit();
                    }
                });
                $('#loadData').click(function (event) {
                    if (!$('#input_url').val()) {
                        alert("Please enter a URL for a Swagger definition to import");
                        event.preventDefault();
                    } else {
                        centerProc();
                        $('#processing').text("Importing " +
                                $('#input_url').val() + " into " +
                                $('#tgt_uuid option:selected').text());
                        $('#processing').css({'display': 'block'});
                        $('#wsdlform').submit();
                    }
                });
                //-->
            </script>
        </form>
    </div>
    <div id="processing" class="message loading" style="display: none; width: 400px; text-align: left;"></div>
{{/if}}
<script type="text/javascript">
    <!--
    $(function () {
        $(document).ready(function () {
            radioValue = $('input[name="source"]:checked').val();
            if (radioValue == "1") {
                $('#input_file').css('display', 'none');
                $('#input_url').css('display', 'inline');
                $('#loadFile').css('display', 'none');
                $('#loadData').css('display', 'inline');
            }
            else {
                $('#input_file').css('display', 'inline');
                $('#input_url').css('display', 'none');
                $('#loadFile').css('display', 'inline');
                $('#loadData').css('display', 'none');
            }
        });
        $('input[name="loadData"]').on('click', function () {
            $('input[name="loadFile"]').val(null);
        });
        $('input[name="loadFile"]').on('click', function () {
            $('input[name="loadData"]').val(null);
        });
        $('input[name="source"]').on('change', function () {
            radioValue = $(this).val();

            if ($(this).is(":checked") && radioValue == "1") {
                $('#input_file').css('display', 'none');
                $('#input_url').css('display', 'inline');
                $('#loadFile').css('display', 'none');
                $('#loadData').css('display', 'inline');
            }
            else {
                $('#input_file').css('display', 'inline');
                $('#input_url').css('display', 'none');
                $('#loadFile').css('display', 'inline');
                $('#loadData').css('display', 'none');
            }
        });
    });
    $(window).resize(function() {
        centerProc();
    });
    function centerProc() {
        var width = ($(window).width() - $('#processing').width()) / 2;
        var height = ($('body').height() - $('#procesing').height()) / 2;

        $('#processing').css({
            'position': 'absolute',
            'left': width + 'px',
            'top': height + 'px',
            'padding': '2em'
        });
    }
    //-->
</script>
